
 #galeria-2{
	width: 100%;
	margin:0px auto;
	max-width: 1500px;
	padding: 40px 20px 20px 20px;
	box-sizing: border-box;
	
}

.galeria-2-esp{
	width: 100%;
  margin-top:30px ;
	display: inline-block;
	vertical-align: top;
	padding:50px 10px 50px 10px;
	box-sizing: border-box;
	position: relative;
  border-radius: 5px;
  box-shadow: -2px -2px 8px 0px rgba(6, 28, 53, 0.76);
}
.galeria-2-esp-icono{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
    right: 50%;
    top: -50px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    //background-color: rgba(200,200,200,1);
    //font-size: 3em;
    color: rgba(120,120,120,1);
    text-align: center;
    line-height: 100px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    border-radius: 50%;
}
img{
  object-fit: cover;
  border-radius: 50%;
  border:solid 1px rgb(171, 175, 179);
  

}


.galeria-2-info{
	width: 100%;
	box-sizing: border-box;
}
.galeria-2-info h3{
	text-align: center;
	//font-family: 'Titulo',helvetica,verdana,sans-serif;
	color: rgba(30,30,30,1);
	font-size: 13pt;
	margin-bottom: 10px;
}
.galeria-2-info p{
	text-align: center;
	//font-family: 'Principal',helvetica,verdana,sans-serif;
	color: rgba(30,30,30,1);
	font-size: 11pt;
	line-height: 1.5em;
}
.galeria-2-boton{
	position: absolute;
	display: block;
	width: 50%;
	bottom: -20px;
	transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    left: 50%;
    right: 50%;

}

.mensaje{
padding-top: 10px;
}
// estilo para botones de pqr 
.options{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  .custom-button {
	width: 90%;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: solid 2px rgb(214, 210, 210);
   // border-radius: 10px;
	background-color: #ffff;
	//background-color: rgb(255, 255, 255); /* Color de fondo del botón */
	color: #666060; /* Color del texto del botón */
	font-size: 18px;
	font-weight: bold;
	//box-shadow: rgba(60, 2, 78, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  .custom-button img {
	width: 35px; /* Ancho de la imagen del icono */
	margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .custom-button .arrow-icon {
	margin-left: 15px; /* Espacio entre el texto y el icono de flecha */
	
  }
  .mtitulo{
	font-size: 13pt;
	text-align: center;
  }
  