ion-button{
    width: 50%;
    height: 45px;
   
 }
 ion-label{
   
     display: flex; 
     flex-direction: column; 
     align-items: center; 
     justify-content: center; 
     text-align: center; 
     font-size: 10px;
 }
 .divcont{
  display: flex; 
  align-items: center; 
  justify-content: center;
   margin-bottom: 5px;
 }
 ion-titel{
     font-size: 14px;
 }
 

 