
<link href="node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet">

<ion-header  class="ion-no-border">
  <ion-toolbar>
    <div class="header-image">
      <img src="assets/milogo.png" alt="Descripción de la imagen">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="options">
    <!-- boton con buton-->
   <button class="custom-button" routerLink="/noticias">
      <img src="https://archivos.puentearandaapp.com/views/img/categorias/muebles/Muebles.png" alt="Icono">
      Noticias
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon> <!-- Icono de flecha a la derecha -->
    </button>

    <button class="custom-button" routerLink="/tramites">
      <img src="https://archivos.puentearandaapp.com/views/img/categorias/muebles/Muebles.png" alt="Icono">
      Tramites y Servicios
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon> <!-- Icono de flecha a la derecha -->
    </button>

    <button class="custom-button" routerLink="/directorio">
      <img src="https://archivos.puentearandaapp.com/views/img/categorias/muebles/Muebles.png" alt="Icono">
      Directorio
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon> <!-- Icono de flecha a la derecha -->
    </button>

    <button class="custom-button" routerLink="/formacion">
      <img src="https://archivos.puentearandaapp.com/views/img/categorias/muebles/Muebles.png" alt="Icono">
      Formacion
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon> <!-- Icono de flecha a la derecha -->
    </button>

    <button class="custom-button" routerLink="/sugerencias">
      <img src="https://archivos.puentearandaapp.com/views/img/categorias/muebles/Muebles.png" alt="Icono">
      Buzon de Sugerencias
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon> <!-- Icono de flecha a la derecha -->
    </button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <img src="assets/logoparanda.png" alt="Descripción de la imagen">
  </ion-toolbar>
</ion-footer>

<!--<ion-footer class="ion-no-border" style="border: solid -1px; height:auto ;">
  
    <ion-img class="full-image" src="assets/logoparanda.png"></ion-img>
  
</ion-footer>-->